* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 30px sans-serif;
}
h1 {
  border-bottom: solid #ccc 3px;
}
h2 {
  border-bottom: solid #eee 2px;
}
table{
}

td {
}

table .header {
  color: white;
  font-weight: bold;
  background-color : rgba(0, 0, 0, 0.8)
}
#container {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 500px;
}

.headerFix .dummy {
  //background-color : yellow
}