* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #dff;
  font: 30px sans-serif;
}
table{
    border-collapse:collapse;
    margin: 10px;
}

td {
    height:40px;
    border: solid 1px #333;
    white-space: nowrap;
}

.headerFix .th {
  background-color : red
}

.headerFix .dummy {
  //background-color : yellow
}

.space1 {
    height:30px;
    width:2500px;
}
.space2 {
    height:1600px;
}
#status {
    position: fixed;
    font-size: 0.8em;
    top:0;
    right:0;
}