* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  //background: #dff;
  font: 30px sans-serif;
}
table{
    //border-collapse:collapse;
    //width:30%;
    margin: 10px;
}

td {
    //height:40px;
    //border: solid 1px #333;
    //white-space: nowrap;
}

table .header {
  color: white;
  font-weight: bold;
  background-color : rgba(0, 0, 0, 0.8)
}
//table .header td{ width:33.33%;}

.headerFix .dummy {
  //background-color : yellow
}

.space1 {
    height:30px;
    width:2500px;
}
.space2 {
    height:1600px;
}
#status {
    position: fixed;
    font-size: 0.8em;
    top:0;
    right:0;
}